<div class="
        leftside-menu
        shadow
        position-fixed
        bg-white
        pt-3
        menuitem-active
        overflow-auto
        custom-scroll-bar
      " id="sidebar">
  <div class="d-flex align-items-center justify-content-center">
    <div class="cursor-pointer be-fulfilled">
      <img src="../../assets/images/logo.svg" style="width: 10rem" />
    </div>

    <div class="cursor-pointer">
      <img src="../../assets/images/logo-sm.png" style="width: 4rem" />
    </div>
  </div>

  <div class="pt-3 d-flex align-items-start justify-content-center flex-column">
    <div class="sidebar-sticky w-100 overflow-auto">
      <div class="cursor-pointer dashboard-active-span py-3" routerLink="/dashboard/home" routerLinkActive="active"
        #rlaHome="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }">
        <span class="pl-3 pr-2">
          <img src="../../assets/images/dashboard.svg" [class.d-none]="rlaHome.isActive" />
          <img src="../../assets/images/dashboard-active.svg" [class.d-none]="!rlaHome.isActive" />
        </span>
        <span class="fs-16 dashboard-label">Dashboard</span>
      </div>

      <div class="text-center">
        <a [routerLink]="['/notification/inbox']" routerLinkActive="router-link-active">Inbox</a><br/>
        <a [routerLink]="['/notification/task']" routerLinkActive="router-link-active">My task</a><br/><br>
        <a [routerLink]="['/project/123123/overview']" routerLinkActive="router-link-active">Project Overview</a><br/>
        <a [routerLink]="['/project/123123/task']" routerLinkActive="router-link-active">Project task</a><br/><br>
        <a [routerLink]="['/profile/client']" routerLinkActive="router-link-active">Client</a><br/>
        <a [routerLink]="['/profile/supplier']" routerLinkActive="router-link-active">supplier</a><br/><br>
        <a [routerLink]="['/setting/general']" routerLinkActive="router-link-active">setting</a><br/><br>
        <a [routerLink]="['/setting/admin']" routerLinkActive="router-link-active">admin setting</a><br/><br>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="">
          <div class="
                  cursor-pointer
                  dashboard-active-span
                  py-3
                  d-flex
                  align-items-center
                  justify-content-between
                  pr-3
                " id="actionItems" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne" href="#actionItemsSubmenu" #rlaProfile="routerLinkActive"
            routerLinkActive="active">
            <div class="d-flex align-items-center">
              <div class="">
                <span class="pl-3 pr-2">
                  <img src="assets/images/actionItemsIcon.svg" class="sidebar-icon" />
                </span>

                <span class="pl-3 pr-2">
                  <img src="assets/images/actionItemsSelectedIcon.svg" class="sidebar-icon" />
                </span>
              </div>
              <span data-toggle="collapse" class="fs-16 cursor-pointer dashboard-label">Action Items</span>
            </div>

            <!-- <div class=""> -->
            <img src="assets/images/sidebarUpArrow.svg" class="sidebar-up-arrow dashboard-label" />

            <img src="assets/images/sidebarDownArrow.svg" class="sidebar-down-arrow dashboard-label" />
            <!-- </div> -->
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="
                    d-flex
                    pl-5
                    ml-1
                    justify-content-center
                    flex-column
                    fs-16
                  ">
              <div class="
                      d-flex
                      py-2
                      align-items-start
                      py-2
                      dashboard-submenu
                      cursor-pointer
                    " routerLink="/dashboard/inbox" #rlaclient="routerLinkActive" routerLinkActive="active">
                Inbox
              </div>

              <div class="
                      d-flex
                      py-2
                      align-items-start
                      dashboard-submenu
                      cursor-pointer
                    " routerLink="/dashboard/myTask" #rlasupplier="routerLinkActive" routerLinkActive="active">
                My Tasks
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="
                  cursor-pointer
                  dashboard-active-span
                  py-3
                  d-flex
                  align-items-center
                  justify-content-between
                  pr-3
                " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
            href="#projectsSubmenu" #rlaProfile="routerLinkActive" routerLinkActive="active">
            <div class="d-flex align-items-center">
              <div class="">
                <span class="pl-3 pr-2">
                  <img src="assets/images/project.svg" class="sidebar-icon" />
                </span>

                <span class="pl-3 pr-2">
                  <img src="assets/images/project-active.svg" class="sidebar-icon" />
                </span>
              </div>
              <span class="fs-16 dashboard-label">Projects</span>
            </div>

            <!-- <div class=""> -->
            <img src="assets/images/sidebarUpArrow.svg" class="sidebar-up-arrow dashboard-label" />

            <img src="assets/images/sidebarDownArrow.svg" class="sidebar-down-arrow dashboard-label" />
            <!-- </div> -->
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div id="projectsSubmenu">
              <div class="">
                <button type="button" class="btn align-items-center create-new-project m-2">
                  <img src="assets/images/add-projet.svg" style="width: 1rem" class="mr-1" />

                  <span class="fs-16 color-faint-orange">Create New Project</span>
                </button>
              </div>

              <div class="pl-5 maxMain custom-scroll-bar create-project">
                <div class="py-2 fs-16 dashboard-submenu cursor-pointer" #rlaclient="routerLinkActive"
                  routerLinkActive="active">
                  hi
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="" id="headingThree">
            <div class="
                    cursor-pointer
                    dashboard-active-span
                    py-3
                    d-flex
                    align-items-center
                    justify-content-between
                    pr-3
                  " data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree" href="#profilesSubmenu" #rlaProfile="routerLinkActive"
              routerLinkActive="active">
              <div class="d-flex align-items-center">
                <div>
                  <span class="pl-3 pr-2">
                    <img src="assets/images/user.svg" class="sidebar-icon" />
                  </span>

                  <span class="pl-3 pr-2">
                    <img src="assets/images/user-active.svg" class="sidebar-icon" />
                  </span>
                </div>
                <span class="fs-16 dashboard-label">Profiles</span>
              </div>

              <!-- <div class="" > -->
              <img src="assets/images/sidebarUpArrow.svg" class="sidebar-up-arrow dashboard-label" />

              <img src="assets/images/sidebarDownArrow.svg" class="sidebar-down-arrow dashboard-label" />
              <!-- </div> -->
            </div>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="pl-5" id="profilesSubmenu">
              <div class="
                      py-2
                      fs-16
                      dashboard-submenu
                      cursor-pointer
                      d-flex
                      align-items-center
                      justify-content-between
                    " routerLink="/dashboard/profile/clients" #rlaclient="routerLinkActive" routerLinkActive="active">
                <span>Clients</span>
                <div class="add-client-supplier rounded mr-2">
                  <img src="assets/images/add-projet.svg" class="" />
                </div>
              </div>

              <div class="
                      fs-16
                      py-2
                      dashboard-submenu
                      cursor-pointer
                      d-flex
                      align-items-center
                      justify-content-between
                    " routerLink="/dashboard/profile/suppliers" #rlasupplier="routerLinkActive"
                routerLinkActive="active">
                <span>Supplier</span>
                <div class="add-client-supplier rounded mr-2">
                  <img src="assets/images/add-projet.svg" class="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard-active-span py-3 cursor-pointer" routerLink="/dashboard/settings" routerLinkActive="active"
        #rlaSettings="routerLinkActive">
        <span class="pl-3 pr-2">
          <img class="sidebar-icon" src="../../assets/images/setting.svg" />

          <img class="sidebar-icon" src="../../assets/images/settings-active.svg" />
        </span>
        <span class="fs-16 dashboard-label">Settings</span>
      </div>

      <div class="dashboard-active-span py-3 cursor-pointer" routerLink="/dashboard/admin" routerLinkActive="active"
        #rlaadmin="routerLinkActive">
        <span class="pl-3 pr-2">
          <img class="sidebar-icon" src="../../../assets/images/admin-settings-icon.svg" />

          <img class="sidebar-icon" src="../../../assets/images/admin-setting.svg" />
        </span>
        <span class="fs-16 dashboard-label">Admin Settings</span>
      </div>
    </div>
  </div>
</div>