<div class="container mb-4">
  <h1>User Profile</h1>
  <div class="row">
    <div class="col-md-4 text-center">
      <img [src]="profileData.image" class="profile_img" alt="" srcset="" />
      <div class="my-3">
        <button class="btn __btn mx-2" (click)="fileClick()">Edit Image</button>
        <button class="btn __btn mx-2" (click)="openRegisterPop()">
          Edit Profile
        </button>
        <input
          type="file"
          name=""
          class="invisible"
          (change)="directOnFileChange($event)"
          id="profile_upload"
        />
      </div>
    </div>
    <div class="col-md-8">
      <p class="">
        I'm
        <span class="fw-500"
          >{{ profileData.first_name + " " + profileData.last_name }},</span
        >
        I'm above
        {{ profileData.age ? profileData.age : "20" }} and you can send me email
        on
        {{ profileData.email }}
      </p>
      <p>I live in state of {{ profileData.state }}</p>

      <p>I'm Intrested in {{ profileData.tags ? profileData.tags : "none" }}</p>
    </div>
  </div>
</div>

<ng-template #register_pop>
  <div class="modal-header py-2">
    <h5 class="modal-title pull-left mb-0 fw-700 text-center"></h5>
    <button
      type="button"
      class="close-btn pull-right"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm" autocomplete="off">
      <div class="row">
        <div class="col-md-4 text-center">
          <img
            [src]="profileData.image"
            class="profile_img"
            (click)="fileClick()"
            alt=""
            srcset=""
          />
          <label
            for=""
            id="profile"
            class="text-decoration-underline"
            (click)="fileClick()"
            >Upload Profile Image</label
          >
          <input
            type="file"
            name=""
            class="invisible"
            (change)="onFileChange($event)"
            id="profile_upload"
          />
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                name="first_name"
                formControlName="first_name"
                placeholder="Enter first name"
              />
              <div
                class="text-danger"
                *ngIf="
                  profileForm.get('first_name').invalid &&
                  (profileForm.get('first_name').dirty ||
                    profileForm.get('first_name').touched)
                "
              >
                Please enter string only
              </div>
            </div>
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                formControlName="last_name"
                placeholder="Enter last name"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <input
                type="text"
                placeholder="Enter Email"
                class="form-control"
                formControlName="email"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <input
                type="text"
                placeholder="Enter Phone"
                class="form-control"
                formControlName="phone"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col d-flex align-items-center">
              <label for="customRange2" class="">Age</label>
              <!-- <p class="mx-2">20</p> -->
              <input
                type="range"
                formControlName="age"
                class="custom-range w-100 mx-3"
                min="20"
                max="60"
                id="customRange2"
              />
              <p class="mx-3 mb-0">{{ profileForm.get("age").value }}</p>
            </div>
            <div class="col-12 my-3">
              <div class="form-group">
                <select
                  class="form-control"
                  formControlName="state"
                  id="exampleFormControlSelect1"
                >
                  <option disabled>Select state</option>
                  <option>Maharashtra</option>
                  <option>Goa</option>
                  <option>Bihar</option>
                  <option>Gujarat</option>
                  <option>Andhra Pradesh</option>
                  <option>Karnataka</option>
                </select>
              </div>
            </div>
            <div class="col-12 mb-2">
              <div class="form-group">
                <select
                  class="form-control"
                  formControlName="country"
                  id="exampleFormControlSelect1"
                >
                  <option disabled>Select Country</option>
                  <option>India</option>
                  <option>United States</option>
                  <option>United Kingdom</option>
                  <option>Pakistan</option>
                  <option>Malaysia</option>
                </select>
              </div>
            </div>
            <div class="col-12 mb-2">
              <select
                class="form-control"
                formControlName="address"
                id="exampleFormControlSelect165"
              >
                <option>Home</option>
                <option>Company</option>
              </select>
            </div>

            <div
              class="col-12"
              *ngIf="profileForm.get('address').value == 'Home'"
            >
              <input
                type="text"
                placeholder="Enter address 1"
                class="form-control my-2"
                formControlName="address1"
              />
              <input
                type="text"
                placeholder="Enter address 2"
                class="form-control my-2"
                formControlName="address2"
              />
            </div>
            <div
              class="col-12"
              *ngIf="profileForm.get('address').value == 'Company'"
            >
              <input
                type="text"
                placeholder="Enter Company address 1"
                class="form-control my-2"
                formControlName="ComAddress1"
              />
              <input
                type="text"
                placeholder="Enter Company address 2"
                class="form-control my-2"
                formControlName="ComAddress2"
              />
            </div>

            <div class="col-12 mb-2">
              <mat-form-field appearance="fill" class="example-chip-list">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList>
                  <mat-chip
                    *ngFor="let tag of profileForm.get('tags').value"
                    [removable]="true"
                    (removed)="removeTag(tag)"
                  >
                    {{ tag }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input
                    matInput
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addTag($event)"
                  />
                </mat-chip-list>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-end mt-4">
        <button
          type="button"
          class="btn btn-light mx-1"
          (click)="modalRef.hide()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-info text-white"
          (click)="onSubmit($event)"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</ng-template>
