.profile_img {
  width: 13rem;
  height: 13rem;
  cursor: pointer;
  margin: 0.6rem;
}

.fw-500 {
  font-weight: 600;
}

p {
  font-size: 20px;
}

.__btn {
  background-color: #ffd31e;
  color: white;
  font-weight: 600;
  border-bottom: 4px solid #e1b600;
  border-radius: 0px;
}
.modal-header {
  background-color: #4acaff !important;
  .close-btn {
    background: azure !important;
    border: none !important;
    border-radius: 50% !important;
    padding: 3px 10px !important;
  }
}

.example-chip-list {
  width: 100%;
}
