<section class="register">
  <div class="mt-4">
    <div class="container">
      <h1 class="main-text mb-3">I'm looking for...</h1>
      <div class="mt-3">
        <div class="row">
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              placeholder="Enter a Job Description"
            />
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn register-btn">
              <i class="bi bi-search"></i> Search
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 d-flex">
            <div class="form-group form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Full time</label
              >
            </div>
            <div class="form-group form-check mx-3">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck2"
              />
              <label class="form-check-label" for="exampleCheck2"
                >Part time/ Casual/ Freelance</label
              >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Select your location</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 text-center">
      <button class="btn register-btn" (click)="openRegisterPop()">
        Register
      </button>
    </div>
  </div>
</section>

<ng-template #register_pop>
  <div class="modal-header py-2">
    <h5 class="modal-title pull-left mb-0 fw-700 text-center"></h5>
    <button
      type="button"
      class="close-btn pull-right"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm" autocomplete="off">
      <div class="row">
        <div class="col-md-4 text-center">
          <img
            [src]="imageFile"
            class="profile_img"
            (click)="fileClick()"
            alt=""
            srcset=""
          />
          <label
            for=""
            id="profile"
            class="text-decoration-underline"
            (click)="fileClick()"
            >Upload Profile Image</label
          >
          <input
            type="file"
            name=""
            class="invisible"
            (change)="onFileChange($event)"
            id="profile_upload"
          />
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                name="first_name"
                formControlName="first_name"
                placeholder="Enter first name"
              />
              <div
                class="text-danger"
                *ngIf="
                  profileForm.get('first_name').invalid &&
                  (profileForm.get('first_name').dirty ||
                    profileForm.get('first_name').touched)
                "
              >
                Please enter first name
              </div>
            </div>
            <div class="col-6">
              <input
                type="text"
                class="form-control"
                formControlName="last_name"
                placeholder="Enter last name"
              />
              <div
                class="text-danger"
                *ngIf="
                  profileForm.get('last_name').invalid &&
                  (profileForm.get('last_name').dirty ||
                    profileForm.get('last_name').touched)
                "
              >
                Please enter last name
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <input
                type="text"
                placeholder="Enter Email"
                class="form-control"
                formControlName="email"
              />
              <div
                class="text-danger"
                *ngIf="
                  profileForm.get('email').invalid &&
                  (profileForm.get('email').dirty ||
                    profileForm.get('email').touched)
                "
              >
                Please enter valid email
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <input
                type="text"
                placeholder="Enter Phone"
                maxlength="10"
                class="form-control"
                formControlName="phone"
              />
              <div
                class="text-danger"
                *ngIf="
                  profileForm.get('phone').invalid &&
                  (profileForm.get('phone').dirty ||
                    profileForm.get('phone').touched)
                "
              >
                Please enter valid phone number
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col d-flex align-items-center">
              <label for="customRange2" class="">Age</label>
              <!-- <p class="mx-2">20</p> -->
              <input
                type="range"
                formControlName="age"
                class="custom-range w-100 mx-3"
                min="20"
                max="60"
                id="customRange2"
              />
              <p class="mx-3 mb-0">{{ profileForm.get("age").value }}</p>
            </div>
            <div class="col-12 my-3">
              <div class="form-group">
                <select
                  class="form-control"
                  formControlName="state"
                  id="exampleFormControlSelect1"
                >
                  <option disabled>Select state</option>
                  <option>Maharashtra</option>
                  <option>Goa</option>
                  <option>Bihar</option>
                  <option>Gujarat</option>
                  <option>Andhra Pradesh</option>
                  <option>Karnataka</option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  profileForm.get('state').invalid &&
                  (profileForm.get('state').dirty ||
                    profileForm.get('state').touched)
                "
              >
                Please select state
              </div>
            </div>
            <div class="col-12 mb-2">
              <div class="form-group">
                <select
                  class="form-control"
                  formControlName="country"
                  id="exampleFormControlSelect1"
                >
                  <option disabled>Select Country</option>
                  <option>India</option>
                  <option>United States</option>
                  <option>United Kingdom</option>
                  <option>Pakistan</option>
                  <option>Malaysia</option>
                </select>
                <div
                  class="text-danger"
                  *ngIf="
                    profileForm.get('country').invalid &&
                    (profileForm.get('country').dirty ||
                      profileForm.get('country').touched)
                  "
                >
                  Please select country
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <select
                class="form-control"
                formControlName="address"
                id="exampleFormControlSelect165"
              >
                <option>Home</option>
                <option>Company</option>
              </select>
              <div
                class="text-danger"
                *ngIf="
                  profileForm.get('address').invalid &&
                  (profileForm.get('address').dirty ||
                    profileForm.get('address').touched)
                "
              >
                Please select address
              </div>
            </div>

            <div
              class="col-12"
              *ngIf="profileForm.get('address').value == 'Home'"
            >
              <input
                type="text"
                placeholder="Enter address 1"
                class="form-control my-2"
                formControlName="address1"
              />
              <div
                class="text-danger"
                *ngIf="
                  profileForm.get('address1').invalid &&
                  (profileForm.get('address1').dirty ||
                    profileForm.get('address1').touched)
                "
              >
                Please select address line 1
              </div>
              <input
                type="text"
                placeholder="Enter address 2"
                class="form-control my-2"
                formControlName="address2"
              />
              <div
                class="text-danger"
                *ngIf="
                  profileForm.get('address2').invalid &&
                  (profileForm.get('address2').dirty ||
                    profileForm.get('address2').touched)
                "
              >
                Please select address line 2
              </div>
            </div>
            <div
              class="col-12"
              *ngIf="profileForm.get('address').value == 'Company'"
            >
              <input
                type="text"
                placeholder="Enter Company address 1"
                class="form-control my-2"
                formControlName="ComAddress1"
              />
              <input
                type="text"
                placeholder="Enter Company address 2"
                class="form-control my-2"
                formControlName="ComAddress2"
              />
            </div>

            <div class="col-12 mb-2">
              <mat-form-field appearance="fill" class="example-chip-list">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList>
                  <mat-chip
                    *ngFor="let tag of profileForm.get('tags').value"
                    [removable]="true"
                    (removed)="removeTag(tag)"
                  >
                    {{ tag }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input
                    matInput
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addTag($event)"
                  />
                </mat-chip-list>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-end mt-4">
        <button
          type="button"
          class="btn btn-light mx-1"
          (click)="modalRef.hide()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-info text-white"
          (click)="onSubmit($event)"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</ng-template>
